#main-container {
    display: flex;
    justify-content: center;
}

button {
    height: 75px;
    width: 75px;
    font-size: 20px;
    margin: 6px;
}

#calculator {
    border: 2px solid rgb(42, 38, 38);
    background-color: rgb(171, 165, 157);
}

#display {
    width: 360px;
    height: 200px;
    text-align: end;
    border-bottom: 2px solid rgb(42, 38, 38);
    background-color: rgb(222, 216, 209);
    overflow-wrap: break-word;
}

#expression-display {
    height: 20px;
    width: 360px;
    font-size: 12px;
}

#main-display {
    font-size: 50px;
}